@font-face {
    font-family: 'Recoleta Alt';
    src: url('RecoletaAlt-Thin.eot');
    src: local('Recoleta Alt Thin'), local('RecoletaAlt-Thin'),
        url('./fonts/RecoletaAlt-Thin.eot?#iefix') format('embedded-opentype'),
        url('./fonts/RecoletaAlt-Thin.woff2') format('woff2'),
        url('./fonts/RecoletaAlt-Thin.woff') format('woff'),
        url('./fonts/RecoletaAlt-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta';
    src: url('Recoleta-Medium.eot');
    src: local('Recoleta Medium'), local('Recoleta-Medium'),
        url('./fonts/Recoleta-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Recoleta-Medium.woff2') format('woff2'),
        url('./fonts/Recoleta-Medium.woff') format('woff'),
        url('./fonts/Recoleta-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('RecoletaAlt-SemiBold.eot');
    src: local('Recoleta Alt SemiBold'), local('RecoletaAlt-SemiBold'),
        url('./fonts/RecoletaAlt-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/RecoletaAlt-SemiBold.woff2') format('woff2'),
        url('./fonts/RecoletaAlt-SemiBold.woff') format('woff'),
        url('./fonts/RecoletaAlt-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('RecoletaAlt-Medium.eot');
    src: local('Recoleta Alt Medium'), local('RecoletaAlt-Medium'),
        url('./fonts/RecoletaAlt-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/RecoletaAlt-Medium.woff2') format('woff2'),
        url('./fonts/RecoletaAlt-Medium.woff') format('woff'),
        url('./fonts/RecoletaAlt-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('RecoletaAlt-Regular.eot');
    src: local('Recoleta Alt Regular'), local('RecoletaAlt-Regular'),
        url('./fonts/RecoletaAlt-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/RecoletaAlt-Regular.woff2') format('woff2'),
        url('./fonts/RecoletaAlt-Regular.woff') format('woff'),
        url('./fonts/RecoletaAlt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta';
    src: url('Recoleta-Thin.eot');
    src: local('Recoleta Thin'), local('Recoleta-Thin'),
        url('./fonts/Recoleta-Thin.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Recoleta-Thin.woff2') format('woff2'),
        url('./fonts/Recoleta-Thin.woff') format('woff'),
        url('./fonts/Recoleta-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('RecoletaAlt-Bold.eot');
    src: local('Recoleta Alt Bold'), local('RecoletaAlt-Bold'),
        url('./fonts/RecoletaAlt-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/RecoletaAlt-Bold.woff2') format('woff2'),
        url('./fonts/RecoletaAlt-Bold.woff') format('woff'),
        url('./fonts/RecoletaAlt-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('RecoletaAlt-Black.eot');
    src: local('Recoleta Alt Black'), local('RecoletaAlt-Black'),
        url('./fonts/RecoletaAlt-Black.eot?#iefix') format('embedded-opentype'),
        url('./fonts/RecoletaAlt-Black.woff2') format('woff2'),
        url('./fonts/RecoletaAlt-Black.woff') format('woff'),
        url('./fonts/RecoletaAlt-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('RecoletaAlt-Light.eot');
    src: local('Recoleta Alt Light'), local('RecoletaAlt-Light'),
        url('./fonts/RecoletaAlt-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/RecoletaAlt-Light.woff2') format('woff2'),
        url('./fonts/RecoletaAlt-Light.woff') format('woff'),
        url('./fonts/RecoletaAlt-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta';
    src: url('Recoleta-SemiBold.eot');
    src: local('Recoleta SemiBold'), local('Recoleta-SemiBold'),
        url('Recoleta-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Recoleta-SemiBold.woff2') format('woff2'),
        url('Recoleta-SemiBold.woff') format('woff'),
        url('Recoleta-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta';
    src: url('Recoleta-Regular.eot');
    src: local('Recoleta Regular'), local('Recoleta-Regular'),
        url('./fonts/Recoleta-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Recoleta-Regular.woff2') format('woff2'),
        url('./fonts/Recoleta-Regular.woff') format('woff'),
        url('./fonts/Recoleta-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta';
    src: url('Recoleta-Bold.eot');
    src: local('Recoleta Bold'), local('Recoleta-Bold'),
        url('./fonts/Recoleta-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Recoleta-Bold.woff2') format('woff2'),
        url('./fonts/Recoleta-Bold.woff') format('woff'),
        url('./fonts/Recoleta-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta';
    src: url('Recoleta-Black.eot');
    src: local('Recoleta Black'), local('Recoleta-Black'),
        url('./fonts/Recoleta-Black.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Recoleta-Black.woff2') format('woff2'),
        url('./fonts/Recoleta-Black.woff') format('woff'),
        url('./fonts/Recoleta-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta';
    src: url('Recoleta-Light.eot');
    src: local('Recoleta Light'), local('Recoleta-Light'),
        url('./fonts/Recoleta-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Recoleta-Light.woff2') format('woff2'),
        url('./fonts/Recoleta-Light.woff') format('woff'),
        url('./fonts/Recoleta-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

.container{
    width: 1180px;
    box-sizing: border-box;
    margin: 0 auto;
}
*{
    box-sizing: border-box;
    font-family: Noto Sans,sans-serif;
    margin: 0;
    padding: 0;
}
/* HEADER */
.hero{
    width: auto;
    height: 650px;
    padding: 0 130px;
    background: #163A24;
}
.site-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    
}
.header-lists{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
}
.header-items{
    list-style-type: none;
    margin-left: 25px;
}
.header-link{
    text-decoration: none;
    font-family: Noto Sans,sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
   color: #FBFAF7;
}
.button{
    background: #198C36;
    border-radius: 160px;
    height: 52px;
    width: 141px;
    border: none;
    cursor: pointer;
}
.hero-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 544px;
}
.hero-title{
    width: 475px;
    
}
.hero-title-h1{
    font-family: Recoleta Alt,sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
    color: #FBFAF7;
    
}
.hero-title-paragraph{
    font-family: Noto Sans,sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #FBFAF7;
}
.people{
    position: relative;
    left: 35px;
    top: 8px;
}
.main{
    width: auto;
    padding: 100px 228px 100px 228px;
}
.main-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-title{
    width: 375px;
}
.main-title-h2{
    font-family: "Recoleta Alt";
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    color: #163A24;
    margin-bottom: 25px;
}
.main-title-paragraph{
    font-family: Noto Sans,sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #163A24
}
.partner-h2{
    font-family: Recoleta Alt,sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    color: #163A24;
    margin-bottom: 66px;
}
.partners-lists{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.partners-items{
    list-style: none;
}
.two{
    margin-bottom: 100px;
}
.nav-bar{
    width: auto;
    height: 568px;
    background: #163A24;
    padding: 66px 130px 120px 130px;

}
.nav-bar-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar-h2{
    font-family: Recoleta Alt,sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    color: #FBFAF7;
    margin-bottom: 85px;
}
.nav-bar-items{
    height: 244px;
    width: 295px;
    list-style-type: none;
    font-family: Noto Sans,sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FBFAF7;
    display: flex;
    flex-direction: column;
    
}
.nav-bar-img{
    height: 150px;
    margin-bottom: 30px;
}
.second{
    width: 400px;
}
.pad{
    padding: 0 100px;
}
.partner-sect{
    height: 300px;
}
.nation-h2{
    font-family: Recoleta Alt;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    color: #163A24;
    width: 740px;
    margin: 0 auto;
    margin-bottom: 25px;
}
.nation-paragraph{
    font-family: Noto Sans,sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #163A24;
    width: 740px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.nation{
    padding: 120px 0;
    background: #F2EFE6;
    margin-bottom: 180px;
}
.scene .container{
    padding: 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.scene-title-h3{
    font-family: Recoleta Alt,sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    color: #163A24;
    margin-bottom: 25px;
}
.scene-title{
    width: 380px;
}
.scene-title-paragraph{
    font-family: Noto Sans ,sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #163A24;
}
.stats .container{
    padding: 100px 20px;   
}
.stats-h3{
    font-family: Recoleta Alt,sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    color: #163A24;
    margin-bottom: 25px;
}
.stats-paragraph{
    font-family: Noto Sans,sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #163A24;
    margin-bottom: 18px;
}
.stats-lists{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.stats-items{
    width: 353px;
    height: 393px;
    padding: 50px 0 65px 40px;
    background: #FBFAF7;
    box-shadow: 5px 5px 20px #E9E4D5;
    border-radius: 15px;
}
.taller{
    height: 430px;
    padding-right: 30px;
}
.stats-h4{
    font-family: Recoleta Alt;
    font-weight: 600;
    font-size: 28px;
    line-height: 31px;
    color: #163A24;
    margin-bottom: 23px;

}
.first{
    padding-right: 66px;
}
.list-in-items{
    font-family: Noto Sans,sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #163A24;
    list-style-type:disc ;
    margin-bottom: 15px;
}
.stats-img{
    margin-bottom: 28px;
}
.preicing{
    background: #F2EFE6;
}
.preicing .container{
    padding: 120px 0 100px 0 ;
    background: #F2EFE6;
    height: 600px;
}
.preising-h3 {
    font-family: Recoleta Alt,sans-serif;
    font-weight: 600;
    font-size: 47px;
    line-height: 54px;
    text-align: center;
    color: #163A24;
    margin-bottom: 25px;
}
.preising-paragraph{
    font-family: Noto Sans,sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #163A24;
    margin-bottom: 60px;
}
.preicing-lists{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.preising-items{
    width: 260px;
    font-family: Noto Sans,sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #163A24;
}
.preising-items:last-child{
    margin-right: 50px;
}
.preising-span{
    font-family: Recoleta Alt;
    font-weight: 600;
    font-size: 28px;
    line-height: 31px;
    text-align: center;
    color: #163A24;
}
.preising-items-par{
    margin-bottom: 14px;
}
.arrow1{
    position: relative;
    bottom: 220px;
    left: 310px;
}
.arrow2{
   position: relative;
   bottom: 220px;
   left: 650px;
}
.ovaltwo{
    position: relative;
    bottom: 130px;
    left: 700px;
}
.preicing-btn{
    background: #198C36;
    border-radius: 160px;
    margin: 0 auto;
    width: 245px;
    height: 52px;
    border: none;
    color: white;
    position: relative;
    bottom: 90px;
    left: 20px;
    cursor: pointer;
    
}
.book .container{
    padding: 120px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.book-title-h4{
    font-family: Recoleta Alt,sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    color: #163A24;
    margin-bottom: 25px;
}
.book-title{
    width: 360px;
}
.book-title-paragraph{
    font-family: Noto Sans,sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #163A24;
    margin-bottom: 20px;
}
.book-btn{
    background: #198C36;
    border-radius: 160px;
    width: 191px;
    height: 52px;
    top: 15px;
    border: none;
    font-family: Noto Sans,sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FBFAF7;
}
/* .adverst .container{
    
    
    
} */
.adverst{
    background: #163A24;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 120px 0 0 0;
}
.adverst-title-h4{
    font-family: Recoleta Alt,sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    color: #FBFAF7;
    margin-bottom: 26px;
}
.adverst-title-paragraph{
    font-family: Noto Sans,sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FBFAF7;
    margin-bottom: 18px;
}
.adverst-btn{
    width: 258px;
    height: 52px;
    background: #FAB5A0;
    border-radius: 160px;
    border: none;
    margin-left: 150px;
    
}
.adverst-title{
    width: 550px;
    padding-top: 40px;
    
}
.sign-up{
    background: #F2EFE6;
}
.sign-up .container{
    padding-top: 55px ;
    padding-bottom: 75px;
    display: flex;
    justify-content: space-between;
}
.left-h4{
    font-family: Recoleta Alt,sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    color: #163A24;
    margin-bottom: 26px;
}
.left-paragraph{
    font-family: Noto Sans,sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #163A24;
}
.right-paragraph{
    width: 525px;
    font-family: Noto Sans,sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #163A24;
}
.right-btn{
    background: #FFFFFF;
    border: 1px solid #F2EFE6;
    box-sizing: border-box;
    border-radius: 255px;
    width: 555px;
    height: 55px;
    margin-bottom: 11px;
}
.right-button{
    background: #15762E;
    border-radius: 160px;
    width: 111px;
    height: 55px;
    border: none;
    position: relative;
    left: 480px;

}
.footer .container{
    display: flex;
    
    align-items: center;
    padding-top: 45px;
    padding-bottom: 40px;
    border-bottom: solid 1px rgba(242, 239, 230, 1);
}

.footer-left-img{
    margin-right: 378px;
}
.footer-middle-span{
    font-family: Recoleta Alt;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #163A24;
    margin-right: 88px;
}
footer{
    display: flex;
    width: 1180px;
    padding: 24px 0;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.footer-lists{
    display: flex;
    list-style-type: none;
}
.footer-parag{
    font-family: Noto Sans,sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #163A24;
}
.footer-href{
    text-decoration: none;
    font-family: Noto Sans,sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #198C36;
    margin-right: 14px;
}